
.button-bar {
    margin-top: 10px;
    display: flex;
}

.console-view-fade{
    transition: opacity var(--console-fade-time) ease,z-index var(--console-fade-time) ease,height var(--console-fade-time) ease;
    opacity: 0;
    z-index:-1000;
    height: 0px !important;
    overflow: hidden;
     
}

.chat-id , .plugin-id {
    background: #ff000042;
    white-space: nowrap;
    text-align: right;
    padding: 1em;
    border-radius: 1em;
}

.chat-id-ai {
    background: #ff7f0042;
}

.chat-reply , .plugin-reply {
    background: #000a;
    white-space: normal;
    padding: 1em;
}

.plugin-reply > div {
    max-height: 6em;
    overflow: auto;
}

.command {
    left: 0px;
    top: 0px;
    min-height: 2em;
    border: 0.5px solid white;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.command:hover {
}

.fix {
}
.log-error > .log-info {
    background:white;
    color:black;
    font-weight:bold;
}
.log-error > .log-word {
    background:#f00;
    color:white;
    font-weight:bold;
    
     
}

.log-line , .log-line-open {
    text-shadow: none;
    overflow: hidden;
    height: 1em;
    color: black;
    white-space: nowrap;
    cursor: pointer;
    background: #fffd;
    display: inline-block;
    width: calc(100% - 1em);
    vertical-align: top;
    text-overflow: ellipsis;
}

.log-line-open {
    overflow: visible;
    height: fit-content;
    white-space: break-spaces;
    padding: 0.3em;
    border: 0.1em solid black;
    display:block;
}
.log-line-open > .log-info{
    width:calc(100% - 1em);
}
.log-info:hover{
    width:100%
}
.log-word , .log-info {
    background: #ddd;
    padding-right: .5em;
    width: 50%;
    display: inherit;
    overflow: inherit;
    white-space: inherit;
    text-overflow: inherit;
    height: inherit;
    cursor: inherit;
}

.log-info {
    background: #f77;
    font-size: .8em;
}

.log-word {
    display: inline;
}


.plugin-id {
    background: none;
}
.speak {
    width: calc(100% - 1em);
    height: 2em;
    background: #f0f8ff54;
}

.speak:focus-visible {
    border: 0.5px solid #000;
    outline: 2px dotted #fff8;
    drop-shadow: 10 10 0.5em #ffff;
}

.tab {
    border: none;
    padding: 10px;
    margin: 0;
    margin-bottom: -1px;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-left: 1px solid white;
    border-top: 0.5px solid white;
}

.tab.active {
    background-color: #fff;
    color: #f00;
    text-shadow: none;
    text-decoration: underline;
}

.tab-bar {
    padding-left: 2em;
}

.tab-content {
    display: none;
    border: solid 1px #ccc;
    padding: 10px;
    background: #fff7;
    border-radius: 1em;
    width: calc(100% - 4em);
    overflow: auto;
}

.tab-content > div {

}

.tab-content.active {
    display: block;
    margin: 1em;
    margin-top: 0;
}
.urlBox{
    padding: var(--command-padding);
    margin: auto;
    margin-left: 1em;
}
