.button-bar {
    margin-top: 10px;
     display: flex;
}

.log-word , .log-info{
    background:#ddd;
    padding-right:.5em;
    text-shadow:none;
    color:black;
}
.log-info {
    background:#f77;
    display: inline;
    font-size: .8em;
}
.fix {
}

 

.speak {
    width: calc(100% - 1em);
    height: 2em;
    background: #f0f8ff54;
}
.tab {
    border: none;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: -1px;
    cursor: pointer;
    font-weight: bold;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.tab.active {
    background-color: #fff;
    color: #f00;
    text-shadow: none;
    text-decoration: underline;
}
.tab-bar {padding-left: 1em;}


.tab-content {
    display: none;
    border: solid 1px #ccc;
    padding: 10px;
    background: #fff7;
    border-radius: 1em;
}

.tab-content.active {
    display: block;
}

