#avatar {
    overflow: hidden;
    background-position: center;
    background-position-y: top;
    background-size:contain;
    background-image:url('0_0.png');
    opacity:1;
    background-repeat: no-repeat;
}  
#console-view {
    font-size: 0.75em;
    min-height: 10em;
    max-height: 100%;
    overflow: auto;
    position: sticky;
    top: 0;
    margin-left: auto;
    margin-top: 1em;
}

#console-view-parent {
    position: absolute;
    top: 0;
    right: 1em;
    width: 20%;
    height: calc(100% - 2em);
    z-index:1000;
    display:block;
    overflow: hidden;
}

#layout {width: 100%;height: 100%;margin-top: 4em;margin-left: 1em;}

#models {
    z-index: 1000;
    position: relative;
}
#model-help-image {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 50%;
}
#parser{
    display: none;
}
#web-gl  {
    width:100%;
    height: 10em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#webviews {
    margin: auto;
    vertical-align: middle;
}
