:root {
  --command-padding: 0.2em;
  --console-fade-time : 10s;
}

body {
    background-color: rgba(1,1,1,1);
    color: #fff;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: fit-content;
    width: 100%;
    padding: 0;
    margin: 0;
}


button {
    cursor: pointer;
}

code{
  background:green;
}
canvas {
    width: 400px;
    height: 400px;
}

input:focus-visible, select:focus-visible, button:focus-visible {
    border: 0.5px solid #000;
    outline: 2px dotted #fff8;
    drop-shadow: 10 10 0.5em #ffff;
}

input,select,textarea,button {
    xwidth: 100%;
    background-color: #ff0000ff;
    border: 0px solid #ffffff57;
    margin: 0.2em;
    padding: var(---command-padding);
    border-radius: .3em;
    color: #Fff;
    text-shadow: -2px 2px 0px black;
    font-size: 1em;
    font-weight: bold;
    font-family: monospace;
}
pre {
    background: #000;
}

td {
    vertical-align: top;
    text-shadow: -2px 2px 0px black;
}

.bg-black.rounded-md.mb-4 {
    border: 2px solid white;
    border-radius: 1em;
    padding: 1em;
}


video {
    border : 0px solid black;
    border-radius : 5%;
}

webview {
    height: 0px;
    width:100%;
}
